.daycare-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 100vh;
  }
  
  /* Hero section with image and welcome message */
  .dc-hero-section {
    width: 100%;
    height: 400px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../Assets/pet groom.jpg'); 
    background-size: cover;
    background-position: center;
    position: relative; 
    margin-bottom: 40px; 
  }
  
  .dc-welcome-message {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 50px;
    border-radius: 10px;
    position: relative; 
    z-index: 2; 
  }
  
  .dc-welcome-message h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: white;
  }
  
  .dc-welcome-message p {
    font-size: 18px;
    color: aliceblue;
  }
  
  /* Flex container to display daycare cards in rows */
  .daycare-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  
  /* Daycare card styles */
  .daycare-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .daycare-details h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #2cbbc3;
  }
  
  .daycare-details p {
    margin: 5px 0;
    color: #333;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .daycare-card {
      width: 100%;
    }
  }
  