
.distributorPanel-section {
    padding: 50px;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.distributorPanel-section h1 {
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
}

.distributorPanel-section p {
    font-size: 1.2rem;
    color: #555;
    max-width: 600px;
    line-height: 1.5;
    margin-bottom: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.distributorPanel-content {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

/* Grouping Card and Button */
.distributorPanel-card-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Circular Card Styles */
.distributorPanel-card {
    background-color: white;
    border-radius: 50%;
    width: 300px;    
    height: 300px;   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 30px; 
}

/* Circular Image inside the card */
.distributorPanel-card-img {
    width: 100%;         
    height: 100%;       
    object-fit: cover;    
    border-radius: 50%;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

/* Button Styles */
.distributorPanel-btn {
    padding: 10px 20px;
    font-size: 1rem;
    width: 250px;
    background-color: #2cbbc3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 5px;
}

.distributorPanel-btn:hover {
    background-color: #2399a5;
}
