
.form-container {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registration-card {
  margin-top: 30px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0.9;
 
}

.registration-card-body {
  padding: 20px;
  width: 100%;
  max-width: 500px; 
}

.regi-form-name {
  color: black;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;  
}

.form-group {
  flex: 1 1 calc(50% - 20px); 
  margin-bottom: 20px;
  min-width: 200px; 
}

label {
  display: block; 
  margin-bottom: 5px; 
  text-align: left; 
}

input[type="text"],
input[type="number"],
select,
input[type="file"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #2cbbc3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 30px;
  margin-right: 30px;
}

/* button[type="submit"]:hover {
  background-color: #FFA836;
} */

.text-danger {
  color: #2cbbc3;
  font-size: 12px;
}
