
.vet-management-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #555;
    padding: 40px;
  }
  
  /* Form card styling */
  .vet-management-container form {
    width: 100%;
    max-width: 550px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
  }
  
  /* Form title */
  .vet-management-container h2 {
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2cbbc3;
  }
  
  /* Form row styling: Flexbox to align label and input */
  .form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 30px;
    width: 100%;
  }
  
  /* Label styling */
  .form-row label {
    font-size: 16px;
    font-weight: 600;
    color: #555;
    text-align: left;
    margin-right: 10px;
    width: 300px;
  }
  
  /* Input and select styling */
  .form-row input,
  .form-row select {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: border 0.3s ease;
    margin-left: 10px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  /* Focus state for inputs */
  .vet-management-container input:focus,
  .vet-management-container select:focus {
    border: 1px solid #2cbbc3;
    outline: none;
  }
  
  /* Submit button styling */
  .vet-management-container button[type="submit"] {
    width: calc(100% - 60px);
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #2cbbc3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 30px;
  }
  
  /* Button hover state */
  .vet-management-container button[type="submit"]:hover {
    background-color: #1a8b8f;
  }
  
  /* Vet card styling */
  .vet-vet-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 50px;
    width: 250px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  
  }
  